.section-header {
  max-width: fit-content;
  padding-top: 25px;
  text-align: center;
  line-height: 1;
  font-size: calc(1.8vw + 1.8vh);
}

@media only screen and (max-width: 500px) {
    .section-header {
      line-height: 1.7;
      padding-top: 35px;
    }
  }

/* -------- WELCOME SECTION -------- */

#welcome-section {
  min-height: 100vh;
  max-height: 100vh;
  padding-right: 2vw;
  margin-top: 50px;
  background: url("/src/assets/images/welcome-background-large.jpg") no-repeat left;
  background-size: cover;
}

#welcome-content {
  min-width: 100%;
  min-height: 100vh;
  padding-inline: 5vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  text-align: center;
}

#welcome-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px 10px;
  position: relative;
  z-index: 99;
}

#welcome-text::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  filter: blur(10px);
  background: radial-gradient(circle, rgba(144, 174, 203, 0.8) 0%, rgba(144, 174, 203,0.3) 100%);
  border-radius: 100px;
}

#hi {
  font-size: calc(2vh + 2vw);
  color: #696b6bff;
}

#name {
  font-size: calc(3vh + 3vw);
  color: #2b5da4ff;
  font-weight: bolder;
  text-shadow: 0.8px 0.8px 0px #080b13ff;
}

#what-do {
  font-size: calc(2.5vh + 2.5vw);
  color: #080b13ff;
}

@media only screen and (max-width: 912px) {
    #welcome-section {
      background: url("/src/assets/images/welcome-background-small.jpg") no-repeat left;
      background-size: cover;
    }

    #welcome-content {
      max-width: fit-content;
      min-height: 100vh;
      padding-right: none;
      padding-top: 3vh;
      float: right;
      gap: 2vh;
    }
  }

@media only screen and (max-width: 500px) {
    #welcome-content {
      justify-content: space-between;
    }
  }

/* -------- PROJECTS SECTION -------- */

#projects-section {
  min-height: 100vh;
  max-height: fit-content;
  max-width: 100vw;
  padding: 0 2vw 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#project-text {
  max-width: 50%;
  text-align: center;
}

#project-display {
  max-width: 100%;;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: calc(2vw + 2vh);
}

/* REMOVE SPACE-BETWEEN ON SECTIONS FOR IPAD */

@media only screen and (max-width: 950px) {
  #projects-section {
    justify-content: flex-start;
    gap: calc(2vw + 2vh);
  }
}

@media only screen and (max-width: 500px) {
  #project-text {
    max-width: 80vw; 
  }

  #project-display {
    flex-direction: column;
    padding-top: 2vh;
  }
}

/* -------- ABOUT SECTION -------- */

#about-section {
  max-width: 100vw;
  min-height: 100vh;
  padding: 0 2vw 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#about-content {
  padding-inline: 10vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5vw;
  padding-top: 10px;
}

#about-text {
  max-width: 800px;
  line-height: 1.4;
  margin-inline: auto;
  text-align: center;
}

#bio-photo:hover::before {
  content: "AI-generated artwork courtesy of ProfilePicture.AI";
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.7;
  background-color: #080b13ff;
  color: #DBEBFBff;
  display: flex;
  align-items: center;
  text-align: center;
}

@media only screen and (max-width: 950px) {
  #about-section {
    justify-content: flex-start;
    gap: 2vh;
  }
  
  #about-content {
    flex-direction: column-reverse;
  }
}

@media only screen and (max-width:300px) {
  #bio-photo {
    width: 200px;
    height: 200px;
  }
}

/* -------- CONTACT SECTION -------- */

#contact-section {
  min-height: 100vh;
  max-height: fit-content;
  max-width: 100vw;
  padding-inline: 0 20px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc(1vw + 1vh);
}

#contact-text {
  max-width: 50%;
  padding: 2vh 0 2vh;
  text-align: center;
}

@media only screen and (max-width: 500px) {
  #contact-text {
    max-width: 100%;
  }
}