.section-header {
  max-width: fit-content;
  padding: 15px 0 20px;
  margin-inline: auto;
  text-align: center;
  line-height: 2.5;
}

@media only screen and (max-width: 500px) {
    .section-header {
      line-height: 1.7;
      padding-top: 35px;
    }
  }

/* -------- WELCOME SECTION -------- */

#welcome-section {
  min-height: 100vh;
  max-height: 100vh;
  /* min-width: 100vw;
    max-width: 100vw; */
  margin-top: 50px;
  background: url("/src/assets/welcome-background-cropped-enhanced.jpg") no-repeat left fixed;
  background-size: cover;
  /* display: flex; */
}

.empty-div {
  min-width: 15vw;
  max-width: 15vw;
  min-height: 10vh;
  max-height: 10vh;
}

#welcome-content {
  min-width: 100%;
  /* max-width: fit-content; */
  min-height: 100vh;
  padding-inline: 5vw;
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  text-align: center;
}

#welcome-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
  padding: 20px 10px;
  z-index: 99;
}

#welcome-text::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, rgba(144, 174, 203, 0.8) 0%, rgba(144, 174, 203,0.3) 100%);
  filter: blur(10px);
  border-radius: 100px;
  z-index: -1;
}

#hi {
  font-size: calc(2vh + 2vw);
  color: #696b6bff;
  /* text-shadow: 0.4px 0.4px 0px#080b13ff; */

}

#name {
  font-size: calc(3vh + 3vw);
  font-weight: bolder;
  color: #2b5da4ff;
  text-shadow: 0.8px 0.8px 0px #080b13ff;
  ;
}

#what-do {
  font-size: calc(2.5vh + 2.5vw);
  color: #080b13ff;
  /* text-shadow: 0.8px 0.8px 0px #DBEBFB; */
}

@media only screen and (max-width: 912px) {
    #welcome-section {
      background: url("/src/assets/welcome-background-cropped-enhanced2.jpg") no-repeat left;
      background-size: cover;
    }

    #welcome-content {
      max-width: fit-content;
      min-height: 100vh;
      padding-right: none;
      padding-top: 3vh;
      float: right;
      gap: 2vh;
    }
  }

@media only screen and (max-width: 500px) {
    #welcome-content {
      max-width: fit-content;
      min-height: 100vh;
      padding-right: none;
      padding-top: 3vh;
      float: right;
      justify-content: space-between;
      padding-bottom: 50px;
      gap: 2vh;
    }
  }

/* -------- PROJECTS SECTION -------- */

#projects-section {
  min-height: 100vh;
  max-height: fit-content;
  padding: 0 20px 50px;
}

/* -------- ABOUT SECTION -------- */

#about-section {
  min-height: 100vh;
  padding: 0 20px 20px;
}

#about-content {
  padding-inline: 95px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5vw;
}

#about-text {
  line-height: 1.4;
  margin-inline: auto;
  text-align: center;
}

#bio-photo:hover::before {
  content: "AI-generated artwork courtesy of ProfilePicture.AI";
  background-color: #080b13ff;
  color: #DBEBFBff;
  opacity: 0.7;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  padding-inline: 50px;
}

@media only screen and (max-width: 950px) {
  #about-content {
    flex-direction: column-reverse;
    padding-inline: 20px;
  }
}

@media only screen and (max-width:300px) {
  #bio-photo {
    width: 200px;
    height: 200px;
  }
}

/* -------- CONTACT SECTION -------- */

#contact-section {
  min-height: 100vh;
  max-height: fit-content;
  padding-inline: 20px;
  padding-bottom: 60px;
}
