#nav {
  position: fixed;
  min-width: 100%;
  max-width: 100%;
  min-height: 50px;
  max-height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1vw;
  gap: 2vw;
  background-color: #619cccff;
  box-shadow: 0 3px 4px -2px rgba(0, 0, 0, 1);
  z-index: 9999;
}

.left {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3vw;
}

.home-nav {
  text-align: center;
  align-items: center;
}

.right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1vw;
  text-decoration: none;
}

#fade-menu {
  z-index: 99999;
  min-width: 100vw;
}

#icon-footer {
  margin-inline: auto;
  display: flex;
  justify-content: left;
  align-items: center;
  min-width: 60%;
  height: fit-content;
  bottom: 0;
  z-index: 99;
  margin-bottom: 10px;
}

#down-arrow {
  transform: scale(3);
  transform-origin: scale(3);
  text-shadow: 0.9px 0.9px 1px #080b13ff;
  filter: brightness(95%);
  color: #dbebfbff;
}

#single-arrow {
  transform: scale(3);
  transform-origin: scale(3);
  text-shadow: 0.9px 0.9px 1px #080b13ff;
  filter: brightness(95%);
  color: #dbebfbff;
  max-width: fit-content;
}

#single-arrow:hover {
  transform: scale(4);
}

@media only screen and (max-width: 950px) {
  #down-arrow {
    display: none;
  }

  #single-arrow {
    display: none;
  }
}

.visible-footer {
  height: 50px;
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  text-align: center;
  background-color: #696b6bff;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: 0 -2px 4px -2px rgba(0, 0, 0, 1);
  color: #080b13ff;
  z-index: 99;
  padding-inline: 10px;
}

#back-to-top {
  font-size: calc(1vw + 1vh);
}

#lefthand-footer {
  max-width: fit-content;
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  align-items: center;
  font-size: calc(1vw + 1vh);
}

.hidden-footer {
  display: none;
}

#back-to-top {
  color: #080b13ff;
}
