#welcome-section {
  min-height: 100vh;
  max-height: 100vh;
  max-width: 100vw;
  margin-top: 50px;
  background: url("../assets/welcome-background.jpg") no-repeat center center;
  background-size: cover;
  display: flex;
}

#projects-section {
  min-height: 100vh;
  background-color: #c1d5eb;
}

#project-display {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 5vw;
}

#about-section {
  min-height: 100vh;
  background-color: #619ccc;
}

#contact-section {
  min-height: 100vh;
  background-color: #c1d5eb;
  padding-inline: 20px;
}

#blog-page {
  min-height: 80vh;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #c1d5eb;
}

#media-page {
  min-height: fit-content;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: #c1d5eb;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 50px;
  padding-inline: 20px;
}

@media only screen and (max-width: 753px, max-height: 607px) {
  #welcome-section {
    background-position-x: -1vw;
  }
} 

/* @media only screen and (max-width: 912px) {
  #welcome-section {
    background-position-x: -18vw;
  }

  #projects-section {
    padding-bottom: 20px;
  }

  #about-section {
    padding-bottom: 20px;
  }

  #contact-section {
    padding-bottom: 60px;
  }
}

@media only screen and (max-width: 768px) {
  #welcome-section {
    background-position-x: -35vw;
    background-size: cover contain;
  }
}

@media only screen and (max-width: 450px) {
  #welcome-section {
    background-position-x: -55vw;
    background-size: cover contain;
  }
}

@media only screen and (max-width: 375px) {
  #welcome-section {
    background-position-x: -50vw;
    background-size: cover contain;
  }
}

@media only screen and (max-width: 280px) {
  #welcome-section {
    background-position-x: -68vw;
    background-size: cover contain;
  }
} */
