.project-card {
    margin-inline: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    text-align: center;
    max-width: 350px;
    min-height: fit-content;
    border: 2px solid #90AECBff;
    border-radius: 10px;
} 

.project-buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

@media only screen and (max-width:300px) {
    .project-card {
        min-width: fit-content;
    }

    .project-photo {
      width: 180px;
      height: 120px;
    }
  }

#form {
    display: flex;
    flex-direction: column;
    gap: 10px; 
    max-width: 400px;
    max-height: 70vh;
    margin-inline: auto;
}

input, textarea {
    border-radius: 5px;
    padding: 10px 20px;
}

input {
    min-width: 100%;
}

#email-submit {
    margin-top: 10px;
    max-width: fit-content;
    margin-inline: auto;
}