/* ======== RESUME BUTTON ======== */

#resume-button {
    width: fit-content;
    height: fit-content;
    font-size: calc(1vw + 1vh);
}

#resume-button:hover {
    background-color: #2b5da4ff;
}

@media only screen and (max-width:900px) {
    #resume-button {
        margin-right: 25px;
    }
}

@media only screen and (max-width:500px) {
    #resume-button {
        margin-right: 5px;
    }
}

@media only screen and (max-width:300px) {
    #resume-button {
        margin-right: 0;
    }
}

/* ======== PROJECT CARD ======== */

.project-card {
    max-width: 510px;
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: calc(1vw + 1vh);
    text-align: center;
    padding: calc(1vw + 1vh);
    border: 2px solid #90AECBff;
    border-radius: 10px;
    margin-bottom: 10px;
} 

.project-buttons {
    display: flex;
    flex-direction: row;
    gap: calc(1.5vw + 1.5vh);
}

@media only screen and (min-height:1400px) {
    .project-card {
        max-width: 350px;
    }
}

@media only screen and (max-width:500px) {
    .project-card {
        max-width: 350px;
    }
}

@media only screen and (max-width:300px) {
    .project-card {
        min-width: fit-content;
    }

    .project-photo {
      width: 180px;
      height: 120px;
    }
  }

/* ======== FORM ======== */

#form {
    min-height: 50vh;
    max-height: 800px;
    display: flex;
    flex-direction: column;
    gap: calc(1vw + 1vh); 
    padding-bottom: 5vh;
}

input, textarea {
    border-radius: 5px;
    padding: 10px 20px;
    min-width: 100%;
    max-width: 600px;
}

#email-submit {
    margin-top: 10px;
    margin-inline: auto;
    max-width: fit-content;
    background-color: #2b5da4ff;
}

@media only screen and (max-width:500px) {
    #form {
        max-width: 90vw;
        gap: calc(0.8vw + 0.8vh); 
    }
}