* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #EFEFEF;
}

.nav {
  position: fixed;
  min-width: 100%;
  min-height: 50px;
  max-height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1vw;
  gap: 2vw;
  background-color: #6F8CAC;
}

.left {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3vw;
}

.home-nav {
  text-align: center;
  align-items: center;
}

.right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1vw;
  text-decoration: none;
}

.footer {
  height: 50px;
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6F8CAC;
  position: fixed;
  bottom: 0;
  width: 100%;
}