* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

html, body {
  overflow-x: hidden;
}

.App {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: #080B13ff;
  color: #DBEBFBff;
}

h1 {
  font-size: calc(3vw + 3vh);
}

p, h3 {
  font-size: calc(1vw + 1vh);
}

a {
  color: black;
}

@media only screen and (max-width:900px) {
  p, h3, label {
    font-size: 16px;
  }
}